Button {
	background-color: blue;
	color: white;
	width: 90%;
	margin-top: 10;
}

TextField {
	width: 90%;
}

.labels {
	margin: 10 0 80 5%;
	font-size: 16;
}

.creds {
	font-style: italic;
	margin: 120 auto 0;
	width: 50%;
}